<!DOCTYPE html>
  
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Room of Requirement for NYU AD</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
    <link href="/static/css/register.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
	
	<!-- Nishant's CSS -->
	<link href="/static/css/font.css" rel="stylesheet">
	<link href="/static/css/hr.css" rel="stylesheet">
	<link href="/static/css/vl.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}
    
    {% endblock %}
  </head>

  <body>

   {% include "navbar.html" %}

    <div class="container-fluid">
      <div class="row">
  {% block sidebar %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"> <a href="{% url 'home' %}" >Home</a></li>
          </ul>
          
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'inventory' %}">Your Inventory</a></li>
            <li><a href="{% url 'viewfriend' %}">View your friends</a></li>
            <li><a href="{% url 'browseitem' %}">Browse items</a></li>
          </ul>
          
          <ul class="nav nav-sidebar">
            <li><a href="">Forum</a></li>
            <li><a href="">Make a Request</a></li>
          </ul>
        </div>
  {% endblock %}
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block content %}
          
          {% endblock %}
          
         
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>
  </body>
</html>
