{% extends "base.html" %}

{% block content %}

    <table>
        <tr>
            <td>Item name</td>
            <td>Description</td>
            <td>Availability</td>
            <td>Owner</td>
        </tr>
            {% for item in items %}
                <tr>
                    <td><a href="/inventory/get/{{item.id}}">{{item.item_name}}</a></td>
                    <td>{{item.description}}</td>
                    <td>{{item.available}}</td>
                    <td><a href="/inventory/view/{{item.owner}}">{{item.owner}}</a></td>
                    <td></td>
                </tr>
            {% endfor %}
    
    </table>


{% endblock %}