{% extends "base.html" %}

{% block content %}
    <h1 style="color: rgb(127,6,140); font-style: bold; text-align: center"><p class="Gotham-Bold">Welcome to the NYUAD RoR, {{user.first_name}}!</p></h1>
    <hr class="glyph"><br>
    <center>
    <div style="width: auto; overflow: hidden; ">
        <div style="width: 50%; height: 100%; float:left; border-right: thin solid #000000;">
            <h3 style="border-bottom: thin solid #000000; ">New Notifications!</h3> 
            
            {% if notification.count > 0 %}
            <table>
        
                {% for i in notification %}
                <tr>
                    <td width="40%" style="text-align: center;"><a href="/notification/show/{{i.id}}">{{i.title}}</a></td>
                    <td width="40%" style="text-align: center;">{{i.send_time}}</td>
                    
                    <td width="20%" style="text-align: center; color:#FF0000;">{% if i.urgent %}
                        URGENT!
                    {% endif %}
                    
                    </td>
                </tr>
                {% endfor %}
        </table>
            {% else %}
                
                <h4>No new notifications!</h4>
            {% endif %}
           
        </div>
        
        
        <div style="width: 50%; float:right; height: 100%">
            <h3 style="border-bottom: thin solid #000000; vertical-align: middle;">Your Pending Requests</h3>
            
            {% if pending.count > 0 %}
            <table>
               
                {% for i in pending %}
                <tr>
                    <td width="40%" style="text-align: center;"><a href="/notification/show/{{i.id}}">Requested {{i.receiver.first_name}}'s {{i.item.item_name}}</a></td>
                    <td width="40%" style="text-align: center;">{{i.send_time}}</td>
                    <td width="20%" style="text-align: center; color:#FF0000;">{% if i.urgent %}
                        URGENT!
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
        </table>
            {% else %}
                
                <h4>No pending requests!</h4>
            {% endif %}
           
            
        </div>
       
    </div>
    </center>

{% endblock %}