{% extends "base.html" %}

{% block content %}
    
    {% if user_name %}
        <h2>{{user_name}}'s inventory!</h2>
        {% if user_name == loggedin_user %}
        <p><a href="{% url 'additem' %}">Add new item</a></p>
        {% endif %}
        {% if items.count > 0 %}
            {% for item in items %}
                <p><a href="/inventory/get/{{item.id}}">{{item.item_name}}</a></p>
                
            {% endfor %}
            
        {% else %}
            <p>You have no items to show!</p>
            
        {% endif %}
        
     
    {% else %}
        <p>You are not logged in. Please <a href="{% url 'home' %}" >log in</a> to view your inventory!</p>
    
    {% endif %}
{% endblock %}