{% extends "base.html" %}

{% block sidebar %}
    
    <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li \> <a href="{% url 'home' %}" >Home</a></li>
          </ul>
          
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'inventory' %}">Your Inventory</a></li>
            <li><a href="{% url 'viewfriend' %}">View your friends</a></li>
            <li><a href="{% url 'browseitem' %}">Browse items</a></li>
          </ul>
          
          <ul class="nav nav-sidebar">
            <li><a href="">Forum</a></li>
            <li><a href="">Make a Request</a></li>
          </ul>
        </div>
{% endblock %}



{% block content %}
    
    
    
<h1><p class="Gotham-Bold">{{item.owner.first_name}}'s {{item.item_name}}</p></h1>
<hr class="glyph"><br>
<center>
<p><img src="/media/{{item.photo}}" width="200" height="200" align="middle"></p><br>

<p><b>Description:</b> {{item.description}}</p><br>

<p><b>Available?</b> {% if item.available %}Yes{% else %}No {% endif %}</p><br>


{% if user_name == item.owner %}
    {% if not item.available %}
        <p>Due to be returned by {{item.due_date}}</p><br>
    {% endif %}
        <p><a href="/inventory/remove/{{item.id}}">Remove</a></p>
{% else %}
    {% if item.available %}
        <p><a href="/notification/request/{{item.id}}">REQUEST</a></p>
    
    {% else %}
        <p>Due to be returned by {{item.due_date}}</p>
        <p><a href="/inventory/return/{{item.id}}">Return</p>
    {% endif %}
{% endif %}
</center>

{% endblock %}




