{% extends "base.html" %}

{% block content %}
    <h1 style="color: rgb(125,32,168); font-style: italic;">Welcome to Room of Requirement at NYU AD!</h1>

    <div class="container">
    
          <form class="form-signin" role="form" action="/accounts/auth/" method="post">{% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="username" class="form-control" placeholder="User name" required autofocus name="username" value="" id="username">
            <input type="password" class="form-control" placeholder="Password" required name="password" value="" id="password">
            <label class="checkbox">
              <p><a href="/accounts/register/">not a member yet?</a></p>
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
          </form>
    
    </div> <!-- /container -->

{% endblock %}


