{% extends "base.html" %}

{% block sidebar %}
    
    <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li \> <a href="{% url 'home' %}" >Home</a></li>
          </ul>
          
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'inventory' %}">Your Inventory</a></li>
            <li class="active"><a href="{% url 'viewfriend' %}">View your friends</a></li>
            <li><a href="{% url 'browseitem' %}">Browse items</a></li>
          </ul>
          
          <ul class="nav nav-sidebar">
            <li><a href="">Forum</a></li>
            <li><a href="">Make a Request</a></li>
          </ul>
        </div>
{% endblock %}


{% block content %}
{% if user_name %}
    
    {% for user in users%}
    
            <p><a href="/inventory/view/{{user}}">{{user}}</a></p>
        
    {% endfor %}

{% else %}
        <p>You are not logged in. Please <a href="{% url 'home' %}" >log in</a> to view your inventory!</p>
    
    
{% endif %}    
{% endblock %}

