{% extends "base.html" %}

{% block sidebar %}
    
    <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li \> <a href="{% url 'home' %}" >Home</a></li>
          </ul>
          
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'inventory' %}">Your Inventory</a></li>
            <li class="active"><a href="{% url 'viewfriend' %}">View your friends</a></li>
            <li><a href="{% url 'browseitem' %}">Browse items</a></li>
          </ul>
          
          <ul class="nav nav-sidebar">
            <li><a href="">Forum</a></li>
            <li><a href="">Make a Request</a></li>
          </ul>
        </div>
{% endblock %}


{% block content %}
        <h1><p class="Gotham-Bold">User Directory</p></h1>
        <hr class="glyph">
        <center>
        <table>
                <tr>
                        <td width="30%" style="text-align: center;"><h4>Name</h4></td>
                        <td width="20%" style="text-align: center;"><h4>Number of Items</h4></td>
                        <td width="25%" style="text-align: center;"><h4>Lender Credit</h4></td>
                        <td width="25%" style="text-align: center;"><h4>Borrower Credit</h4></td>
                </tr>
                {% for user in users%}
                <tr>
                        <td width="30%" style="text-align: center;"><a href="/inventory/view/{{user.user}}">{{user.user.first_name}}</a></td>
                        <td width="20%" style="text-align: center;">{{user.item_number}}</td>
                        <td width="25%" style="text-align: center;">{{user.lend_credit}}</td>
                        <td width="25%" style="text-align: center;">{{user.borrow_credit}}</td>
                </tr>
                {% endfor %}
        
        </table>
        
        </center>
    
    


{% endblock %}

